<div class="p-grid p-justify-center p-align-center main" [ngStyle]="{'width': '100vw', 'height': '100vh'}">
    <form name="forms" novalidate (ngSubmit)="fazerLogin(f)" #f="ngForm">
        <div class="main-container p-grid p-justify-center p-align-center p-dir-col">
            <img src="assets/imagens/montreal_logo.png" id="logo">

            <div class="p-grid p-justify-center" [ngStyle]="{'margin': '10px 0 10px 0', 'width': '90%'}">
                <div class="ui-inputgroup" [ngStyle]="{'width': '90%'}">
                    <span class="ui-inputgroup-addon">
                        <i class="pi pi-user" style="font-size: 1.5em"></i>
                    </span>
                    <input pInputText [ngStyle]="{'width': '90%'}" type="text" name="usuario" placeholder="Digite o usuário..." 
                    [(ngModel)]="user.login" #usuario="ngModel" [ngClass]="{'is-invalid': f.submitted && usuario.invalid}" 
                    required>         
                </div>
            </div>

            <div class="p-grid p-justify-center" [ngStyle]="{'margin': '10px 0 10px 0', 'width': '90%'}">
                <div class="ui-inputgroup" [ngStyle]="{'width': '90%'}">
                    <span class="ui-inputgroup-addon">
                        <i class="pi pi-lock" style="font-size: 1.5em"></i>
                    </span>
                    <input pInputText [ngStyle]="{'width': '90%'}" type="password" id="psw" name="password" 
                    placeholder="Digite a senha..." title="A senha deve conter no mínimo 6 caractéres sendo no mínimo um caractér especial, uma letra maiúscula, uma letra minúscula e um número." 
                    [(ngModel)]="user.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required #inputSenha>
                    <i class="pi pi-eye eye" #olho (mousedown)="mouseDown()" (mouseup)="mouseUp()" (mouseout)="mouseOut()"></i>
                </div>
            </div>

            <p-messages [(value)]="msgs" [closable]="false"></p-messages>
            <i class="pi pi-spin pi-spinner" style="font-size: 3em" [hidden]="hidden"></i>

            <button pButton type="submit" label="Login" class="ui-button-rounded ui-button-success"
            [ngStyle]="{'width': '90%'}"></button>
        </div>
    </form>
</div>
