<div class="p-grid p-justify-center p-align-center">
  <div class="main-container">
    <p-panel>
      <p-header>
        Reset de Senha
      </p-header>
      <p-toast [style]="{marginTop: '80px'}" key="popup"></p-toast>
      <div class="p-grid p-justify-center p-align-center" [ngStyle]="{'margin': '5px'}">
        <div class="p-grid">
          <div class="p-col-6">
        
            <div class="p-grid p-align-center vertical-container">
              <div class="p-col-2" [ngStyle]="{'float': 'right'}">
                <label for="usuario">Usuário:</label>
              </div>
              <div class="p-col-10">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon" [ngStyle]="{'background-color': 'transparent', 'border-radius': '15px 0px 0px 15px'}">
                    <i class="pi pi-search"></i>
                  </span>
                  <p-autoComplete [(ngModel)]="usuario" [suggestions]="results" (completeMethod)="searchNome($event)"></p-autoComplete>
                  <button pButton type="button" label="Buscar" class="ui-button-rounded ui-button-success" [ngStyle]="{'border-radius': '0px 15px 15px 0px'}"
                  (click)="getUser(true)" ></button>
                </div>
              </div>
            </div>
            
          </div>
          <div class="p-col-6">

            <div class="p-grid p-align-center vertical-container">
              <div class="p-col-2" [ngStyle]="{'float': 'right'}">
                <label for="login">Login:</label>
              </div>
              <div class="p-col-10">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon" [ngStyle]="{'background-color': 'transparent', 'border-radius': '15px 0px 0px 15px'}">
                    <i class="pi pi-search"></i>
                  </span>
                  <p-autoComplete [(ngModel)]="nickname" [suggestions]="resultsLogin" (completeMethod)="searchLogin($event)"></p-autoComplete>
                  <button pButton type="button" label="Buscar" class="ui-button-rounded ui-button-success" [ngStyle]="{'border-radius': '0px 15px 15px 0px'}"
                  (click)="getUser(false)"></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
  
      <div class="p-grid" [ngStyle]="{'height': '3px', 'background-color': 'black', 'margin': '5px'}"></div>

      <div class="p-grid p-justify-center" [hidden]="!showLoad">
        <div class="p-grid" style="padding: 25px;">
            <i class="pi pi-spin pi-spinner" style="font-size: 10em"></i>
        </div>
      </div>

      <div [hidden]="!showForm">
          <form id="form" #form="ngForm" autocomplete="off">
              <div class="p-grid">

                <div class="p-col-6">
                  <label style="margin: 0px">Nome:</label>
                  <input type="text" disabled="true" class="ajusteInput" pInputText id="nome" ngModel  name="nome"  #nome="ngModel" [(ngModel)]="usuarioForm.nome" tabindex="1"/>
                </div>
      
                <div class="p-col-6">
                    <label style="margin: 0px">Sobrenome:</label>
                    <input type="text" disabled="true" class="ajusteInput" pInputText id="sobrenome" name="sobrenome" #sobrenome="ngModel" [(ngModel)]="usuarioForm.sobrenome" tabindex="2"/>
                </div>
                <div class="p-col-12">
                    <label style="margin: 0px">Nickname de login:</label>
                    <input type="text" disabled="true" class="ajusteInput" pInputText id="nickname" name="login" ngModel  #login="ngModel" [(ngModel)]="usuarioForm.login" tabindex="5"/>
                </div> 
                <div class="p-col-12">
                    <label style="margin: 0px">E-mail:</label>
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">@</span>
                        <input id="idemail" disabled="true" type="email" [ngStyle]="{'width': '100%'}" pInputText name="email"  #email="ngModel" [(ngModel)]="usuarioForm.email" tabindex="9">  
                    </div>
                </div>
                <div class="p-col-4" style="text-align: right;">
                    <div class="ui-inputgroup">
                        <p >Nova senha: </p>
                     </div>
                </div>  
                <div class="p-col-4">
                    <div class="ui-inputgroup">
                        <h2>{{newPassord}} </h2>
                     </div>
                </div>      
                <div class="p-col-4">
                    <div class="ui-inputgroup">
                        
                     </div>
                </div>  
                <div class="p-grid p-justify-end" [ngStyle]="{'width': '100%', 'height': '100%'}">
                    <button pButton type="submit" label="Gerar Senha" class="ui-button-danger ui-button-raised" 
                    [ngStyle]="{'width': '20%', 'height': '40%', 'margin': '3px'}"  iconPos="right" (click)="resetRandonPassoword()"></button>
                    <button pButton type="submit" label="Salvar" class="ui-button-success" 
                    [ngStyle]="{'width': '20%', 'height': '40%', 'margin': '3px'}" icon="pi pi-save" iconPos="right" (click)="atualizarUser()"></button>
                </div>
      
              </div>
            </form>
      </div>
      
    </p-panel>    
  </div>
</div>
  