<p-menubar  [model]="items"  class="menubarstyle" >
     <h6   #mushroom2 > {{nomeUsuario}}  
        <button (click)="doIt()" >
           <i class="fa fa-user"></i>
        </button>
     </h6>
     <div  id="objeto" #mushroom style="background-color: brown; width: 100px">

      <nav #navmenuuser class="navbar navbar-default" role="navigation" style="display: none" >
            <div #navmenuuser  id="sidebar-wrapper" class="sidebar-toggle">
               <img #navmenuuser  src="../../../../../assets/imagens/montreal_logo_slin.png" height="100" width="300"  > 
               <ul #navmenuuser  class="sidebar-nav">
                   <li>
                        <a (click)="trocarSenha()" ><i class="fa fa-user"></i> TROCAR SENHA</a>
                   </li>
                   <li>
                        <a (click)="logOut()"> <i class="fa fa-times"></i> SAIR</a>
                   </li>
                 </ul>
            </div>
      </nav>
     </div>
</p-menubar>



<p-toast [style]="{marginTop: '80px'}" position="top-center" key="er" [modal]="true" [baseZIndex]="100" ></p-toast>
<p-toast [style]="{marginTop: '80px'}" key="ok"></p-toast>