<br>

<div class="ui-g">
  <div class="ui-md-6">

  <div class="ui-g">
    <div class="ui-md-4">
      <label class="ajusteLabel" for="fid">FID: </label>
    </div>
    <div class="ui-md-4">
    </div>
  </div>

  <br><br>

  <div class="ui-g">
    <div class="ui-md-4">
      <label class="ajusteLabel" for="client">Cliente: </label>
    </div>
    <div class="ui-md-4">
    </div>
  </div>

  </div>
  <div class="ui-md-6">

  <div class="ui-g">
    <div class="ui-md-4">
      <label class="ajusteLabel" for="cpf">CPF: </label>
    </div>
    <div class="ui-md-4">
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-md-4">
      <label class="ajusteLabel" for="empreend">Empreendimento: </label>
    </div>
    <div class="ui-md-4">
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-md-4">
      <label class="ajusteLabel" for="unidade">Unidade: </label>
    </div>
    <div class="ui-md-4">
    </div>
  </div>

  </div>
</div>

<div class="ui-g">
  <div class="ui-md-1">
    <label class="ajusteLabel" for="desc">Descrição: </label>
  </div>
  <div class="ui-md-11">
    <textarea [cols]="100" [rows]="4" pInputTextarea></textarea>
  </div>
</div>

<div class="ui-g">
  <div class="ui-md-6">

    <div class="ui-g">
      <div class="ui-md-2">
        <label class="ajusteLabel" for="fases">Fases: </label>
      </div>
      <div class="ui-md-10" id="fases">
        <p-dropdown placeholder="Entrevista" optionLabel="Demo"></p-dropdown>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-md-2">
        <label class="ajusteLabel" for="fases">Sisteses: </label>
      </div>
      <div class="ui-md-10" id="fases">
        <p-dropdown placeholder="Sem contato" optionLabel="Demo"></p-dropdown>
      </div>
    </div>

  </div>
  <div class="ui-md-6">
    <br><br>

    <button pButton type="button" label="Salvar" class="ui-button-rounded ui-button-success" [ngStyle]="{'width': '15%', 'height': '40%', 'margin': '3px'}"></button>
    <button pButton type="button" label="Limpar" class="ui-button-rounded ui-button-warning" [ngStyle]="{'width': '15%', 'height': '40%', 'margin': '3px'}"></button>
  </div>
</div>

<div class="ui-g" [ngStyle]="{'height': '3px', 'background-color': 'black'}"></div>
<br>
<div class="ui-g">
  <p-table [value]="ponto">
    <ng-template pTemplate="header">
      <tr>
        <th>Data</th>
        <th>Histórico</th>
        <th>Usuário</th>
        <th>Fase</th>
        <th>Sinteses</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-pon>
      <tr>
        <td>{{pon.data}}</td>
        <td> {{pon.historico}} </td>
        <td> {{pon.usuario}} </td>
        <td> {{pon.fase}}</td>
        <td> {{pon.sintese}} </td>
      </tr>
    </ng-template>
  </p-table>
</div>