.ajusteLabel {
    float: right;
  }
  

 .tddata{
  width: 10%;
 } 
 .tdusuario{
  width: 10%;
 }
 .tdfase{
  width: 10%;
 }
 .tdsintese{
  width: 20%;
 }
 .tddescricao{
  white-space: pre-wrap
 }