<div  class="pag-grafc">

 <div class="ui-g">
        <div class="ui-g-12 ui-md-10 ui-g-nopad">
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-4">
                            <p-chart  type="pie" [data]="data"></p-chart>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-12">
            Footer
        </div>
    </div>
</div>


   