<form novalidate (ngSubmit)="OnSubmit(cadInfo, formulario)" #formulario="ngForm">
  <p-panel>
    <p-header>
      Cadastro de informação
    </p-header>

    <p-fieldset legend="Cadastro de informações pessoais">
      <div>
        <p-fieldset legend="Comprador principal">
          <div class="ui-g">
            <div class="ui-md-6">

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="cpf">CPF/CNPJ: </label>
                </div>
                <div class="ui-md-8">
                  <input type="text" class="ajusteInput" pInputText id="cpf" ngModel  name="cpfcnpj"  #cpfcnpj="ngModel" [(ngModel)]="comprador.cpfcnpj">
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="tipoP">Tipo de pessoa: </label>
                </div>
                <div class="ui-md-8" id="tipoP">
                  <p-radioButton value=1 label="Física" name="tipoPessoa" class="radio" ngModel #tipoPessoa="ngModel" [(ngModel)]="comprador.codtipocliente"></p-radioButton>
                  <p-radioButton value=2 label="Jurídica" name="tipoPessoa" class="radio" ngModel #tipoPessoa="ngModel" [(ngModel)]="comprador.codtipocliente"></p-radioButton>
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="numeroIdent">Número de identidade: </label>
                </div>
                <div class="ui-md-8">
                  <input type="text" class="ajusteInput" pInputText id="numeroIdent" ngModel  name="ndocumento"  #ndocumento="ngModel" [(ngModel)]="comprador.ndocumento">
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="dataExp">Data expedição: </label>
                </div>
                <div class="ui-md-8">
                  <p-calendar [showIcon]="true"  [yearNavigator]="true" yearRange="1900:2018" [monthNavigator]="true" 
                  class="ajusteInput" [inputStyle]="{'width': '96.5%'}" [style]="{'width': '96.5%'}" 
                  id="dataExp" dateFormat="dd/mm/yy" ngModel name="dataexpedicao"  #dataexpedicao="ngModel" [(ngModel)]="comprador.dataexpedicao"></p-calendar>
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="estadoCivil">Estado civil: </label>
                </div>
                <div class="ui-md-8" id="estadoCivil">
                  <p-dropdown placeholder="Selecione..." optionLabel="value.name" [options]="estadoCivil" [autoWidth]="false" dataKey="value"
                  [style]="{'width': '100%'}" class="ajusteInput" ngModel name="codestadocivil" #codestadocivil="ngModel" [(ngModel)]="comprador.codestadocivil"></p-dropdown>
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="renda">Renda: </label>
                </div>
                <div class="ui-md-8">
                  <input currencyMask pInputText class="ajusteInput" name="valorrenda" [(ngModel)]="comprador.valorrenda" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
                </div>
              </div>

            </div>

            <div class="ui-md-6">

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="nomeC">Nome do cliente: </label>
                </div>
                <div class="ui-md-8">
                  <input type="text" class="ajusteInput" pInputText id="nomeC" ngModel  name="nomecliente"  #nomecliente="ngModel" [(ngModel)]="comprador.nomecliente">
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="dataNasc">Data de nascimento: </label>
                </div>
                <div class="ui-md-8">
                  <p-calendar [showIcon]="true" [yearNavigator]="true" yearRange="1900:2018" [monthNavigator]="true" 
                  class="ajusteInput" [inputStyle]="{'width': '96.5%'}" [style]="{'width': '96.5%'}" 
                  id="dataNasc" dateFormat="dd/mm/yy" ngModel  name="datanascimento"  #datanascimento="ngModel" [(ngModel)]="comprador.datanascimento"></p-calendar>
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="orgExp">Órgão expeditor: </label>
                </div>
                <div class="ui-md-8">
                  <input type="text" class="ajusteInput" pInputText id="orgExp" ngModel name="orgaoexpedidor"  #orgaoexpedidor="ngModel" [(ngModel)]="comprador.orgaoexpedidor">
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="nacionalidade">Nacionalidade: </label>
                </div>
                <div class="ui-md-8">
                  <input type="text" class="ajusteInput" pInputText id="nacionalidade" ngModel name="nacionalidade"  #nacionalidade="ngModel" [(ngModel)]="comprador.nacionalidade">
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="profissao">Profissão: </label>
                </div>
                <div class="ui-md-8">
                  <input type="text" class="ajusteInput" pInputText id="profissao" ngModel name="profissao"  #profissao="ngModel" [(ngModel)]="comprador.profissao">
                </div>
              </div>

            </div>
          </div>

        </p-fieldset>

        <p-fieldset legend="Endereço">
          <div class="ui-g">
            <div class="ui-md-6">

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="cep">CEP: </label>
                </div>
                <div class="ui-md-8">
                  <p-inputMask [style]="{'width': '100%', 'margin-left': '5px'}" id="cep" mask="99999-999" 
                  slotChar=" "  (onBlur)="consultaCEP()"  ngModel name="cepresidencial"  #cepresidencial="ngModel" [(ngModel)]="comprador.cepresidencial"></p-inputMask>
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="numero">Número: </label>
                </div>
                <div class="ui-md-8">
                  <input type="text" class="ajusteInput" pInputText id="numero" ngModel name="numeroendereco"  #numeroendereco="ngModel" [(ngModel)]="comprador.numeroendereco">
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="bairro">Bairro: </label>
                </div>
                <div class="ui-md-8">
                  <input type="text" class="ajusteInput" pInputText id="bairro" ngModel name="bairroresidencial"  #bairroresidencial="ngModel" [(ngModel)]="comprador.bairro">
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="cidade">Cidade: </label>
                </div>
                <div class="ui-md-8">
                  <input type="text" class="ajusteInput" pInputText id="cidade" ngModel name="cidaderesidencial"  #cidaderesidencial="ngModel" [(ngModel)]="comprador.cidade">
                </div>
              </div>

            </div>
            <div class="ui-md-6">

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="endereço">Endereço: </label>
                </div>
                <div class="ui-md-8">
                  <input type="text" class="ajusteInput" pInputText id="endereço" ngModel name="enderecoresidencial"  #enderecoresidencial="ngModel" [(ngModel)]="comprador.endereco">
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="complemento">Complemento: </label>
                </div>
                <div class="ui-md-8">
                  <input type="text" class="ajusteInput" pInputText id="complemento" ngModel name="complementoresidencial"  #complementoresidencial="ngModel" [(ngModel)]="comprador.complemento">
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="estado">Estado: </label>
                </div>
                <div class="ui-md-8" id="estado">
                  <p-dropdown placeholder="Selecione..." optionLabel="uf" [options]="estado" 
                  [autoWidth]="false" [style]="{'width': '100%'}" class="ajusteInput" ngModel name="ufresidencial"  #ufresidencial="ngModel" [(ngModel)]="comprador.uf"></p-dropdown>
                </div>
              </div>

            </div>
          </div>
        </p-fieldset>

        <p-fieldset legend="Contatos">
          <div class="ui-g">
            <div class="ui-md-6" >

              <div class="ui-g">
                <div class="ui-md-4">
                  <label class="ajusteLabel" for="tipo">Tipo: </label>
                </div>
                <div class="ui-md-8" id="estado">
                  <p-dropdown placeholder="Selecione..." optionLabel="value.name" [options]="tipoContato" dataKey="value"
                  [autoWidth]="false" [style]="{'width': '100%'}" class="ajusteInput" ngModel name="codtipocontato"  #codtipocontato="ngModel" [(ngModel)]="contatos.codtipocontato"></p-dropdown>
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-md-4">
                </div>
                <div class="ui-md-8">
                  <input type="text" class="ajusteInput" pInputText id="context" ngModel name="desccontato"  #desccontato="ngModel" [(ngModel)]="contatos.desccontato">
                </div>
              </div>

              <br><br>

              <p><button pButton type="button" label="Adicionar" class="ui-button-raised ui-button-secondary" 
              [ngStyle]="{'float': 'right'}" (click)="adicionarContato(contatos)"></button>
            </div>

            <br><br>
            <div class="ui-md-6">
              <p-table [value]="contatoDisplay" [scrollable]="true" [(selection)]="contatoSelecionado" dataKey="contato" scrollHeight="200px">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Excluir</th>
                    <th>Tipo</th>
                    <th>Contato</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-contatoC let-cont>
                  <tr [pSelectableRow]="contatoC">
                    <td> <button pButton type="button" (click)="removerContato(contatoC)" icon="pi pi-trash"></button> </td>
                    <td> {{cont.tipocontato}} </td>
                    <td> {{cont.desccontato}} </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-fieldset>

        <button pButton type="button" label="Adicionar +" class="ui-button-raised ui-button-secondary" 
        [ngStyle]="{'float': 'right', 'width': '30%', 'margin': '5px'}" (click)="adicionarCompradorLista(comprador)"></button>

      </div>
    </p-fieldset>

    <div class="ui-g">
      <p-fieldset legend="Compradores">
        <p-table [value]="compradores" >
          <ng-template pTemplate="header">
            <tr>
              <th>Excluir</th>
              <th>Nome</th>
              <th>CPF</th>
              <th>Renda</th>
              <th>Comprador principal</th>
            </tr>
          </ng-template>
  
          <ng-template pTemplate="body" let-rowData let-comp>
            <tr [pSelectableRow]="rowData">
              <td> <button pButton icon="pi pi-user-minus" (click)="removerComprador(rowData)"></button> </td>
              <td> {{comp.nomecliente}} </td>
              <td> {{comp.cpfcnpj}} </td>
              <td> {{comp.valorrenda}} </td>
              <td>
                  <p-tableRadioButton [value]="rowData" value=true name="principal" (click)="setarTrue(rowData)" ngDefaultControl="comprador.principal"></p-tableRadioButton>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-fieldset>
    </div>

    <p-fieldset legend="Cadastro de informações do Imóvel">
      
      <div class="ui-g">
        <div class="ui-md-1">
          <label class="ajusteLabel" for="fid">FID: </label>
        </div>
        <div class="ui-md-3">
          <input type="text" pInputText id="fid-input" class="ajusteInput" ngModel name="codcadastroincorporadora"  #codcadastroincorporadora="ngModel" [(ngModel)]="cadInfo.codcadastroincorporadora">
        </div>
      </div>

      <p-fieldset legend="INCORPORADORA">
        <div class="ui-g">
          <div class="ui-md-3">
            
            <div class="ui-g">
              <div class="ui-md-4">
                <label class="ajusteLabel" for="entrada">Entrada: </label>
              </div>
              <div class="ui-md-8">
                <p-calendar [showIcon]="true"  [yearNavigator]="true" yearRange="1900:2018" [monthNavigator]="true" 
                class="ajusteInput" id="entrada" dateFormat="dd/mm/yy" ngModel name="datacadastro"  #datacadastro="ngModel" [(ngModel)]="cadInfo.datacadastro"></p-calendar>
              </div>
            </div>

          </div>
          <div class="ui-md-5">

            <div class="ui-g">
              <div class="ui-md-3">
                <label class="ajusteLabel" for="incorporadora">Incorporadora: </label>
              </div>
              <div class="ui-md-7" id="incorporadora">
                <p-dropdown placeholder="Selecione..." optionLabel="descincorporadora" [options]="incorp" [autoWidth]="false" [style]="{'width': '100%'}" 
                ngModel name="incorporadora" #incorporadora="ngModel" [(ngModel)]="cadInfo.incorporadora"></p-dropdown>
              </div>
            </div>

          </div>
          <div class="ui-md-4">

            <div class="ui-g">
              <div class="ui-md-3">
                <label class="ajusteLabel" for="origin">Originação: </label>
              </div>
              <div class="ui-md-7" id="origin">
                <p-dropdown placeholder="Selecione..." optionLabel="Demo" [autoWidth]="false" [style]="{'width': '100%'}" 
                ngModel name="codoriginacao"  #codoriginacao="ngModel" [(ngModel)]="cadInfo.codoriginacao"></p-dropdown>
              </div>
            </div>

          </div>
        </div>
      </p-fieldset>

      <p-fieldset legend="DADOS DO EMPREENDIMENTO">
        <div class="ui-g">
          <div class="ui-md-5">

            <div class="ui-g">
              <div class="ui-md-4">
                <label class="ajusteLabel" for="empreend">Empreendimento: </label>
              </div>
              <div class="ui-md-8" id="empreend">
                <p-dropdown placeholder="Selecione..." optionLabel="Demo" [autoWidth]="false" [style]="{'width': '100%'}" 
                ngModel name="codempreendimento"  #codempreendimento="ngModel" [(ngModel)]="cadInfo.codempreendimento"></p-dropdown>              </div>
            </div>

          </div>

          <div class="ui-md-7">
            <div class="ui-g">
              <div class="ui-md-6">

                <div class="ui-g">
                  <div class="ui-md-4">
                    <label class="ajusteLabel" for="bloco">Bloco: </label>
                  </div>
                  <div class="ui-md-8">
                    <input type="text" class="ajusteInput" pInputText id="bloco"ngModel name="blocotorre"  #blocotorre="ngModel" [(ngModel)]="cadInfo.blocotorre">
                  </div>
                </div>


                <div class="ui-g">
                  <div class="ui-md-5">
                    <label class="ajusteLabel" for="vagaAutomovel">Vaga de automóvel: </label>
                  </div>
                  <div class="ui-md-7">
                    <input type="text" class="ajusteInput" pInputText id="vagaAutomovel"ngModel name="vagaautomovel"  #vagaautomovel="ngModel" [(ngModel)]="cadInfo.vagaautomovel">
                  </div>
                </div>
              </div>

              <div class="ui-md-6">

                <div class="ui-g">
                  <div class="ui-md-4">
                    <label class="ajusteLabel" for="apto">Apartamento: </label>
                  </div>
                  <div class="ui-md-8">
                    <input type="text" class="ajusteInput" pInputText id="apto"ngModel name="numeroapartamento"  #numeroapartamento="ngModel" [(ngModel)]="cadInfo.numeroapartamento">
                  </div>
                </div>

                <div class="ui-g">
                  <div class="ui-md-4">
                    <label class="ajusteLabel" for="box">Box: </label>
                  </div>
                  <div class="ui-md-8">
                    <input type="text" class="ajusteInput" pInputText id="box"ngModel name="box"  #box="ngModel" [(ngModel)]="cadInfo.box">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-fieldset>

      <p-fieldset legend="Endereço do Imovel">
        <div class="ui-g">
          <div class="ui-md-6">

            <div class="ui-g">
              <div class="ui-md-4">
                <label class="ajusteLabel" for="cepImovel">CEP: </label>
              </div>
              <div class="ui-md-8">
                <p-inputMask [style]="{'width': '100%', 'margin-left': '5px'}" id="cepImovel" mask="99999-999" 
                slotChar=" "ngModel name="cep"  #cep="ngModel" [(ngModel)]="cadInfo.cep" (onBlur)="consultaCEPImovel()"></p-inputMask>
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-md-4">
                <label class="ajusteLabel" for="numeroImovel">Número: </label>
              </div>
              <div class="ui-md-8">
                <input type="text" class="ajusteInput" pInputText id="numeroImovel"ngModel name="numero"  #numero="ngModel" [(ngModel)]="cadInfo.numero">
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-md-4">
                <label class="ajusteLabel" for="bairroImovel">Bairro: </label>
              </div>
              <div class="ui-md-8">
                <input type="text" class="ajusteInput" pInputText id="bairroImovel"ngModel name="bairro"  #bairro="ngModel" [(ngModel)]="cadInfo.bairro">
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-md-4">
                <label class="ajusteLabel" for="cidadeImovel">Cidade: </label>
              </div>
              <div class="ui-md-8">
                <input type="text" class="ajusteInput" pInputText id="cidadeImovel"ngModel name="cidade"  #cidade="ngModel" [(ngModel)]="cadInfo.cidade">
              </div>
            </div>

          </div>
          <div class="ui-md-6">

            <div class="ui-g">
              <div class="ui-md-4">
                <label class="ajusteLabel" for="endereçoImovel">Endereço: </label>
              </div>
              <div class="ui-md-8">
                <input type="text" class="ajusteInput" pInputText id="endereçoImovel"ngModel name="endereco"  #endereco="ngModel" [(ngModel)]="cadInfo.endereco">
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-md-4">
                <label class="ajusteLabel" for="complementoImovel">Complemento: </label>
              </div>
              <div class="ui-md-8">
                <input type="text" class="ajusteInput" pInputText id="complementoImovel"ngModel name="complemento"  #complemento="ngModel" [(ngModel)]="cadInfo.complemento">
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-md-4">
                <label class="ajusteLabel" for="estadoImovel">Estado: </label>
              </div>
              <div class="ui-md-8" id="estadoImovel">
                <p-dropdown placeholder="Selecione..." optionLabel="uf" [options]="estado" 
                [autoWidth]="false" [style]="{'width': '100%', 'margin-left': '5px'}" ngModel name="uf"  #uf="ngModel" [(ngModel)]="cadInfo.uf"></p-dropdown>
              </div>
            </div>

          </div>
        </div>

      </p-fieldset>

    </p-fieldset>

    <p-footer>
      <button pButton type="submit" label="Avançar >>" class="ui-button-rounded ui-button-success" 
        [ngStyle]="{'width': '15%', 'margin': '3px'}"></button>
      <button pButton type="button" label="Limpar" class="ui-button-rounded ui-button-warning" 
        [ngStyle]="{'width': '15%', 'margin': '3px'}" (click)="limparFormulario(formulario)"></button>
      <br><br>
    </p-footer>
  </p-panel>

  <br><br><br>
</form>