<form novalidate>
  <div class="p-grid">
    <div class="p-col-6">

      <div class="p-grid">
        <div class="p-col-2">
          <label class="ajusteLabel" for="fid">FID: </label>
        </div>
        <div class="p-col-10">
          <input type="text" class="ajusteInput" pInputText id="fid" [(ngModel)]="numfid" name="fid"> 
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-4">
          <label class="ajusteLabel" for="valorAvali">Valor de Avaliação: </label>
        </div>
        <div class="p-col-8">
          <input type="text" currencyMask pInputText class="ajusteInput" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
          id="valorAvali" name="valoravaliacao" #valoravaliacao='ngModel' [(ngModel)]="simulacoes.valoravaliacao" >
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-4">
          <label class="ajusteLabel" for="valorComVen">Valor de compra e venda: </label>
        </div>
        <div class="p-col-8">
          <input type="text" currencyMask pInputText class="ajusteInput" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
          id="valorComVem" name="valorcompravenda" #valorcompravenda='ngModel' [(ngModel)]="simulacoes.valorcompravenda" >
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-4">
          <label class="ajusteLabel" for="valorcredito">Valor do Crédito: </label>
        </div>
        <div class="p-col-8">
          <input type="text" currencyMask pInputText class="ajusteInput" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
          id="valorcredito" name="valorcredito" #valorcredito="ngModel" [(ngModel)]="simulacoes.valorcredito">
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-4">
          <label class="ajusteLabel" for="codmodalidadesimulacao">Modalidade: </label>
        </div>
        <div class="p-col-8" id="codmodalidadesimulacao">
          <p-dropdown placeholder="Selecione..." [options]="modalidade" optionLabel="descModalidadeSimulacao" [autoWidth]="false" [style]="{'width': '100%'}" 
          class="ajusteInput" ngModel name="codmodalidadesimulacao" #codmodalidadesimulacao="ngModel" [(ngModel)]="simulacoes.codmodalidadesimulacao"></p-dropdown>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-4">
          <label class="ajusteLabel" for="dataEnv">Data envio ao Banco: </label>
        </div>
        <div class="p-col-8" [ngStyle]="{'padding-right': '2px'}">
          <div class="ui-inputgroup">
            <p-calendar [showIcon]="true" [yearNavigator]="true" yearRange="1900:2019" [monthNavigator]="true" 
            class="ajusteInput" [inputStyle]="{'width': 'calc(100% - 2.357em)', 'border-radius': '3px 0px 0px 3px'}" [style]="{'width': '100%'}"
            id="dataenviobanco" dateFormat="dd/mm/yy" [locale]="br" ngModel name="dataenviobanco" #dataenviobanco="ngModel" [(ngModel)]="simulacoes.dataenviobanco"
            rPCalendarMask></p-calendar>
          </div>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-4">
          <label class="ajusteLabel" for="codsicaq">SICAQ: </label>
        </div>
        <div class="p-col-8">
          <input type="text" class="ajusteInput" pInputText id="codsicaq" name="codsicaq" #codsicaq="ngModel" [(ngModel)]="simulacoes.codsicaq"
          pKeyFilter="pint">
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-4">
          <label class="ajusteLabel" for="correspondente">Correspondente: </label>
        </div>
        <div class="p-col-8">
          <input type="text" class="ajusteInput" pInputText id="correspondente" name="correspondente" #correspondente="ngModel" [(ngModel)]="simulacoes.correspondente">
        </div>
      </div>

    </div>

    <div class="p-col-6">

     <!-- <div class="espaco" [ngStyle]="{'width': '741px', 'height': '42px'}"></div> -->

     <div class="p-grid">
      <div class="p-col-4">
        <label class="ajusteLabel" >COD CADASTRO: </label>
      </div>
      <div class="p-col-8">
          {{codcadastro}}
      </div>
    </div>

      <div class="p-grid">
        <div class="p-col-4">
          <label class="ajusteLabel" for="prazofinanciamento">Prazo financiamento: </label>
        </div>
        <div class="p-col-8">
          <input type="text" class="ajusteInput" pInputText id="prazofinanciamento" name="prazofinanciamento" #prazofinanciamento="ngModel" [(ngModel)]="simulacoes.prazofinanciamento" pKeyFilter="pint">
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-4">
          <label class="ajusteLabel" for="codtipoamortizacao">Tipo Amortização: </label>
        </div>
        <div class="p-col-8" id="codtipoamortizacao">
          <p-dropdown placeholder="Selecione..." [options]="tipoAmortizacao" optionLabel="desctipoamortizacao" [autoWidth]="false" [style]="{'width': '100%'}" 
          class="ajusteInput" name="codtipoamortizacao" #codtipoamortizacao="ngModel" [(ngModel)]="simulacoes.codtipoamortizacao"></p-dropdown>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-4">
          <label class="ajusteLabel" for="valorsubsidio">Valor subsidio: </label>
        </div>
        <div class="p-col-8">
          <input type="text" currencyMask pInputText class="ajusteInput" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
          id="valorsubsidio" name="valorsubsidio" #valorsubsidio="ngModel" [(ngModel)]="simulacoes.valorsubsidio">
        </div>
      </div>
    </div>
  </div>

  <p-fieldset legend="Valores do processo">
    <div class="p-grid">
      <div class="p-col-6">

        <div class="p-grid">
          <div class="p-col-4">
            <label class="ajusteLabel" for="valordespesasfinanciadas">Despesas financiadas: </label>
          </div>
          <div class="p-col-8">
            <input currencyMask pInputText class="ajusteInput" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" 
            id="valordespesasfinanciadas" name="valordespesasfinanciadas" #valordespesasfinanciadas="ngModel" [(ngModel)]="simulacoes.valordespesasfinanciadas"/>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-4">
            <label class="ajusteLabel" for="finanTotal">Financiamento total: </label>
          </div>
          <div class="p-col-8">
            <input currencyMask pInputText class="ajusteInput" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
            id="finanTotal"  name="valorfinanciamento"  [(ngModel)]="simulacoes.valorfinanciamento"/>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-4">
            <label class="ajusteLabel" for="fgts">FGTS: </label>
          </div>
          <div class="p-col-8">
            <input currencyMask pInputText class="ajusteInput" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
            id="fgts" name="valorfgts"  [(ngModel)]="simulacoes.valorfgts" (blur)="recursoProprio()"/>
          </div>
        </div>

      </div>
      <div class="p-col-6">

        <div class="p-grid">
          <div class="p-col-4">
            <label class="ajusteLabel" for="recProp">Recurso próprio: </label>
          </div>
          <div class="p-col-8">
            <input currencyMask pInputText class="ajusteInput" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
            id="recProp" name="valorrecursosproprios"  [(ngModel)]="simulacoes.valorrecursosproprios"/>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-4">
            <label class="ajusteLabel" for="saldoDev">Saldo devedor: </label>
          </div>
          <div class="p-col-8">
            <input currencyMask pInputText class="ajusteInput" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
            id="saldoDev" name="saldodevedor"  [(ngModel)]="simulacoes.saldodevedor"/>
          </div>
        </div>
      </div>
    </div>
  </p-fieldset>

  <p-fieldset legend="Simulação">
    <div class="p-grid">
      <div class="p-col-6">

        <div class="p-grid">
          <div class="p-col-4">
            <label class="ajusteLabel" for="codinstituicaofinanceira">Instituição financeira: </label>
          </div>
          <div class="p-col-6" id="codinstituicaofinanceira">
            <p-dropdown [options]="instFinan" optionLabel="descInstituicaoFinanceira" placeholder="Selecione..." [autoWidth]="false" [style]="{'width': '100%'}" 
            class="ajusteInput" name="codinstituicaofinanceira" #codinstituicaofinanceira="ngModel" [(ngModel)]="simulacoes.codinstituicaofinanceira"></p-dropdown>
          </div>
          <div class="p-col-2">
            <button pButton type="button" label="Adicionar" class="ui-button-raised ui-button-secondary" 
            [ngStyle]="{'width': '100%'}" (click)="adicionarSimulacao(simulacoes)" icon="pi pi-plus" iconPos="right"></button>
          </div>
        </div>
        
      </div>
    </div>
    
    <p-table [value]="simulacaoLista">
      <ng-template pTemplate="header">
        <tr>
          <th><strong>Excluir</strong></th>
          <th><strong>Instituição</strong></th>
          <th><strong>Aprovação</strong></th>
          <th><strong>Valor Total</strong></th>
          <th><strong>Taxa de Juros</strong></th>
          <th><strong>Valor 1º Parcela</strong></th>
          <th><strong>Financiado</strong></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-simul>
        <tr [pSelectableRow]="rowData">
          <td><button pButton icon="pi pi-trash" (click)="removerSimulacao(rowData)"></button></td>
          <td> {{simul.codinstituicaofinanceira.descInstituicaoFinanceira}} </td>
          <td [pEditableColumn]="rowData" [pEditableColumnField]="'Aprovação'">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown placeholder="Selecione..." [options]="statussimulacao" optionLabel="descstatussimulacao" [autoWidth]="false" [style]="{'width': '100%'}" 
                class="ajusteInput" id="codstatussimulacao" name="codstatussimulacao" #codstatussimulacao="ngModel" [(ngModel)]="rowData.codstatussimulacao"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                <input pInputText class="ajusteInput" value="{{rowData.codstatussimulacao.descstatussimulacao}}" 
                *ngIf="rowData.codstatussimulacao != undefined" (mouseover)="focusDropDown(inputDropdown)" #inputDropdown/>
                <input pInputText class="ajusteInput" value="Selecione..." *ngIf="rowData.codstatussimulacao == undefined" 
                #inputDropdown (mouseover)="focusDropDown(inputDropdown)"/>
              </ng-template>
            </p-cellEditor>
          </td>
          <td [pEditableColumn]="rowData" [pEditableColumnField]="'Valor Total'">
            <p-cellEditor>
                <ng-template pTemplate="input">
                  <input currencyMask pInputText class="ajusteInput" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
                  id="valoravaliacaoinstfinanc" name="valoravaliacaoinstfinanc" #valoravaliacaoinstfinanc="ngModel" [(ngModel)]="rowData.valoravaliacaoinstfinanc"
                  [ngStyle]="{'border': '1px solid #a6a6a6', 'padding': '0.429em', 'font-size': '14px'}"/>    
                </ng-template>
                <ng-template pTemplate="output">
                  <input pInputText class="ajusteInput" value="R$ {{rowData.valoravaliacaoinstfinanc}}"/>
                </ng-template>
            </p-cellEditor>
          </td>
          <td [pEditableColumn]="rowData" [pEditableColumnField]="'Taxa de Juros'">
            <p-cellEditor>
                <ng-template pTemplate="input">
                  <input currencyMask pInputText class="ajusteInput" [options]="{ prefix: '% ', thousands: '.', decimal: ',', align: 'left' }"
                  id="taxadejuros" name="taxadejuros" #taxadejuros="ngModel" [(ngModel)]="rowData.taxadejuros"
                  [ngStyle]="{'border': '1px solid #a6a6a6', 'padding': '0.429em', 'font-size': '14px'}"/>    
                </ng-template>
                <ng-template pTemplate="output">
                  <input pInputText class="ajusteInput" value="% {{rowData.taxadejuros}}"/>
                </ng-template>
            </p-cellEditor>
          </td>
          <td [pEditableColumn]="rowData" [pEditableColumnField]="'Valor 1° Parcela'">
            <p-cellEditor>
                <ng-template pTemplate="input">
                  <input currencyMask pInputText class="ajusteInput" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
                  id="valorprimeiraparcela" name="valorprimeiraparcela" #valorprimeiraparcela="ngModel" [(ngModel)]="rowData.valorprimeiraparcela"
                  [ngStyle]="{'border': '1px solid #a6a6a6', 'padding': '0.429em', 'font-size': '14px'}"/> 
                </ng-template>
                <ng-template pTemplate="output">
                  <input pInputText class="ajusteInput" value="R$ {{rowData.valorprimeiraparcela}}"/>
                </ng-template>
            </p-cellEditor>
          </td>
          <td> 
            <p-tableRadioButton [value]="rowData"></p-tableRadioButton>  
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>

  <p-fieldset legend="Datas do processo">
    <div class="p-grid">
      <div class="p-col-6">

      <div class="p-grid">
        <div class="p-col-4">
          <label class="ajusteLabel" for="dataMae">Data da pasta mãe: </label>
        </div>
        <div class="p-col-8" [ngStyle]="{'padding-right': '2px'}">
          <div class="ui-inputgroup">
            <p-calendar [showIcon]="true" [yearNavigator]="true" yearRange="1900:2019" [monthNavigator]="true" 
            class="ajusteInput" [inputStyle]="{'width': 'calc(100% - 2.357em)', 'border-radius': '3px 0px 0px 3px'}" [style]="{'width': '100%'}"
            id="dataMae" dateFormat="dd/mm/yy" [locale]="br"
            name="datapastamae" #datapastamae="ngModel" [(ngModel)]="analise.datapastamae" showButtonBar="true" rPCalendarMask></p-calendar>
          </div>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-4">
          <label class="ajusteLabel" for="dataEmissao">Data de Emissão: </label>
        </div>
        <div class="p-col-8" [ngStyle]="{'padding-right': '2px'}">
          <div class="ui-inputgroup">
            <p-calendar [showIcon]="true" [yearNavigator]="true" yearRange="1900:2019" [monthNavigator]="true" 
            class="ajusteInput" [inputStyle]="{'width': 'calc(100% - 2.357em)', 'border-radius': '3px 0px 0px 3px'}" [style]="{'width': '100%'}"
            id="dataEmissao" dateFormat="dd/mm/yy" [locale]="br"
            name="dataemissao" #dataemissao="ngModel" [(ngModel)]="analise.dataemissao" showButtonBar="true" rPCalendarMask></p-calendar>
          </div>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-4">
          <label class="ajusteLabel" for="dataAssin">Data de assinatura: </label>
        </div>
        <div class="p-col-8" [ngStyle]="{'padding-right': '2px'}">
          <div class="ui-inputgroup">
            <p-calendar [showIcon]="true" [yearNavigator]="true" yearRange="1900:2019" [monthNavigator]="true" 
            class="ajusteInput" [inputStyle]="{'width': 'calc(100% - 2.357em)', 'border-radius': '3px 0px 0px 3px'}" [style]="{'width': '100%'}"
            id="dataAssin" dateFormat="dd/mm/yy" [locale]="br"
            name="dataassinatura" #dataassinatura="ngModel" [(ngModel)]="analise.dataassinatura" showButtonBar="true" rPCalendarMask></p-calendar>
          </div>
        </div>
      </div>

      </div>
    </div>

  </p-fieldset>
  <p-fieldset >
    <div class="p-grid">
      <div class="p-col-10">
      </div> 
      <div class="p-col-1">
        <button pButton type="button" label="Cancelar" class="ui-button-danger" icon="pi pi-refresh" iconPos="right"></button>
      </div>
      <div class="p-col-1">
        <button pButton type="button" label="Salvar" class="ui-button-success" (click)="salvar()"
        icon="pi pi-save" iconPos="right"></button>
      </div>
    </div>   
  </p-fieldset>
</form>
<br><br>


