<p-panel>
  <p-header>
    Informações
  </p-header>

  <div class="p-grid p-justify-center p-align-center vertical-container" [hidden]="load" style="padding: 25px;">
      <div #loader class="lds-dual-ring">
      </div>
  </div>

  <div [hidden]="!load">
    <p-tabView>
      <p-tabPanel header="Dados cadastrais">
          <ng-template pTemplate="content">
              <app-dados-cadastrais></app-dados-cadastrais>
          </ng-template>
      </p-tabPanel>

      <p-tabPanel header="Histórico">
        <app-historico></app-historico>
      </p-tabPanel>
    </p-tabView>
  </div>
</p-panel>

<br>