<p-panel>
  <p-header>
    Buscar
  </p-header>

  <div class="ui-g">
    <div class="ui-md-6">

      <div class="ui-g">
        <div class="ui-md-1">
          <label for="client">Cliente:</label>
        </div>
        <div class="ui-md-6">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" [ngStyle]="{'background-color': 'transparent', 'border-radius': '15px 0px 0px 15px'}"><i class="pi pi-search"></i></span>
            <input type="search" pInputText id="client" [ngStyle]="{'width': '100%'}">
            <button pButton type="button" label="Buscar" class="ui-button-rounded ui-button-success" [ngStyle]="{'border-radius': '0px 15px 15px 0px'}"></button>
          </div>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-md-1">
          <label for="FID">FiD:</label>
        </div>
        <div class="ui-md-6">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" [ngStyle]="{'background-color': 'transparent', 'border-radius': '15px 0px 0px 15px'}"><i class="pi pi-search"></i></span>
            <input type="search" pInputText id="fid" [ngStyle]="{'width': '100%'}">
            <button pButton type="button" label="Buscar" class="ui-button-rounded ui-button-success" [ngStyle]="{'border-radius': '0px 15px 15px 0px'}"></button>
          </div>
        </div>
      </div>

    </div>
    <div class="ui-md-6">

      <div class="ui-g">
        <div class="ui-md-1">
          <label for="torre">Torre:</label>
        </div>
        <div class="ui-md-6">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" [ngStyle]="{'background-color': 'transparent', 'border-radius': '15px 0px 0px 15px'}"><i class="pi pi-search"></i></span>
            <input type="search" pInputText id="torre" [ngStyle]="{'width': '100%'}">
            <button pButton type="button" label="Buscar" class="ui-button-rounded ui-button-success" [ngStyle]="{'border-radius': '0px 15px 15px 0px'}"></button>
          </div>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-md-1">
          <label for="unidade">Unidade:</label>
        </div>
        <div class="ui-md-6">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" [ngStyle]="{'background-color': 'transparent', 'border-radius': '15px 0px 0px 15px'}"><i class="pi pi-search"></i></span>
            <input type="search" pInputText id="unidade" [ngStyle]="{'width': '100%'}">
            <button pButton type="button" label="Buscar" class="ui-button-rounded ui-button-success" [ngStyle]="{'border-radius': '0px 15px 15px 0px'}"></button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <p-tabView>
    <p-tabPanel header="Dados cadastrais">
      <app-dados-cadastrais></app-dados-cadastrais>
    </p-tabPanel>

    <p-tabPanel header="Histórico">
      <app-historico></app-historico>
    </p-tabPanel>
  </p-tabView>
</p-panel>

<br>