<div class="p-grid p-justify-center p-align-center">
    <div class="main-container">
        <form id="form" #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off">
            <p-panel header="Cadastro de usuário">
                <div class="p-grid">
                    <div class="p-col-6">
                        <label style="margin: 0">Nome:</label>
                        <input type="text" class="ajusteInput" pInputText id="nome" ngModel  name="nome"  #nome="ngModel" [(ngModel)]="usuario.nome" tabindex="1"/>
                        
                        <label style="margin: 0">Telefone ou Ramal:</label>
                        <input type="text" class="ajusteInput" pInputText id="contato" pattern="\d+" ngModel name="telefone" #telefone="ngModel" [(ngModel)]="usuario.telefone" tabindex="3"/>
                        
                        <label style="margin: 0">Nickname de login:</label>
                        <input type="text" class="ajusteInput" pInputText id="nickname" name="login" ngModel  #login="ngModel" [(ngModel)]="usuario.login" tabindex="5"/>
                        
                        <label style="margin: 0">Senha:</label>
                        <div class="ui-inputgroup">
                            <input type="password" class="ajusteInput" pInputText id="senha" ngModel name="senha"  #senha="ngModel" [(ngModel)]="usuario.password" 
                            tabindex="7" #password/>
                            <i class="pi pi-eye eye" #olho (mousedown)="mouseDown()" (mouseup)="mouseUp()" (mouseout)="mouseOut()"></i>
                        </div>
                    </div>

                    <div class="p-col-6">
                        <label style="margin: 0">Sobrenome:</label>
                        <input type="text" class="ajusteInput" pInputText id="sobrenome" name="sobrenome" #sobrenome="ngModel" [(ngModel)]="usuario.sobrenome" tabindex="2"/>
                        
                        <label style="margin: 0">CPF:</label>
                        <input type="text" class="ajusteInput" pInputText name="cpf" #cpf="ngModel" [(ngModel)]="usuario.cpf" tabindex="4"/>
                        
                        <label style="margin: 0">Repita o nickname:</label>
                        <input type="text" class="ajusteInput" pInputText id="confirmarNickName" name="confirmarNickName" [(ngModel)]="confirmarNickName" tabindex="6"/>
                        
                        <label style="margin: 0">Repita a senha:</label>
                        <input type="password" class="ajusteInput" pInputText id="confirmarSenha" name="confirmarSenha" [(ngModel)]="confirmarSenha" tabindex="8"/>
                    </div>

                    <div class="p-col-12">
                        <label style="margin: 0">E-mail:</label>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">@</span>
                            <input id="idemail" type="email" [ngStyle]="{'width': '100%'}" pInputText name="email"  #email="ngModel" [(ngModel)]="usuario.email" tabindex="9">  
                        </div>
                    </div>

                    <div class="p-col-12">
                        <label style="margin: 0">Perfil:</label>
                        <div class="ui-inputgroup">
                            <p-multiSelect [options]="selectRoles" optionLabel="profile" [(ngModel)]="usuario.perfis" defaultLabel="Selecione o perfil.." [ngModelOptions]="{standalone:true}" 
                            [style]="{'width': '100%'}" [ngStyle]="{'width': '100%'}" tabindex="10"></p-multiSelect>
                        </div>
                    </div>

                    <div class="p-grid p-justify-end" [ngStyle]="{'width': '100%', 'height': '100%'}">
                        <button pButton type="submit" label="Salvar" class="ui-button-rounded ui-button-success" 
                        [ngStyle]="{'width': '15%', 'height': '40%', 'margin': '3px'}" icon="pi pi-save" iconPos="right"></button>
                    </div>

                    <p-messages [(value)]="msgs" [ngStyle]="{'width': '100%'}"></p-messages>

                    <!--ARRUMAR O CONTAINER ALTURA-->

                </div>
            </p-panel>
        </form>
    </div> 
</div>