body {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-box-pack: center;
    -moz-box-pack: center;
    justify-content: center;
}

.main-container{
    width: 50%;
    height: 100%;
    border-radius: 5px;
    padding: 0;
    box-shadow:0 5px 5px rgba(0,0,0,.175);
}

@media (max-width: 991px){
    .main-container{
        height: auto;
    }
}

#card{
    border-radius: 5px 5px 0 0;
    text-align: left;
    color: black;
}

.col{
    padding: 15px 0 0 15px;
}

.form-control{
    width: 90%;
    margin: 20px 10px 20px 10px;
}

#tipodeusuario{
    float: left;
    width: 95%;
    margin: 0 10px 0 10px;
}

@media (max-width: 991px){
    #tipodeusuario{
        width: 90%;
        margin: 0 10px 0 10px;
    }
}

#email{
    margin: 20px 20px 20px 0;
}

@media (max-width: 991px){
    #email{
        margin: 20px 50px 20px 0;
    }
}

#addon1{
    height: 38px;
    margin: 20px 0 0 10px;
}

#buttonsalvar{
    width: 20%;
    float: right;
    margin: 0 20px 10px 0;
}

@media (max-width: 991px){
    #buttonsalvar{
        margin: 0 50px 10px 0;
    }
}

@media (max-width: 767px){
    #buttonsalvar{
        margin: 0 45px 10px 0;
    }
}


/*--------*/

.ajusteInput {
    width: 100%;
    margin: 0 0 1vw 0;
}

.ajusteLabel {
  float: right;
}

.eye {
    margin-bottom: 1vw;
    padding: 0.429em 0 0.429em 0;
    border: 1px solid #a6a6a6;
    background-color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: transparent;
    cursor: pointer
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}