<div class="p-grid">
  <div class="p-col-6">

    <div class="p-grid">
      <div class="p-col-3">
        <label class="ajusteLabel" for="faturarContrato">A faturar contrato: </label>
      </div>
      <div class="p-col-9">
        <input type="text" class="ajusteInput" pInputText id="faturarContrato" [ngStyle]="{'width': '50%'}">
      </div>
    </div>

  </div>
  <div class="p-col-6">

    <div class="p-grid">
      <div class="p-col-2">
        <label class="ajusteLabel" for="cpf">CPF/CNPJ: </label>
      </div>
      <div class="p-col-10">
        <input type="text" class="ajusteInput" pInputText id="cpf" [ngStyle]="{'width': '50%'}">
      </div>
    </div>

  </div>
</div>

<p-fieldset legend="Faturamento">
  <div class="p-grid">
    <div class="p-col-4">

      <div class="p-grid">
        <div class="p-col-3">
          <label class="ajusteLabel" for="primeiraParcela">1° Parcela: </label>
        </div>
        <div class="p-col-9">
          <p-inputMask [style]="{'width': '100%', 'margin-left': '5px'}" id="primeiraParcela"
          mask="R$ 999.999,99?" slotChar=" "></p-inputMask>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-3">
          <label class="ajusteLabel" for="segundaParcela">2° Parcela: </label>
        </div>
        <div class="p-col-9">
          <p-inputMask  [style]="{'width': '100%', 'margin-left': '5px'}" id="segundaParcela"
          mask="R$ 999.999,99?" slotChar=" "></p-inputMask>
        </div>
      </div>

    </div>
    <div class="p-col-4">

      <div class="p-grid">
        <div class="p-col-3">
          <label class="ajusteLabel" for="primeiraNotaFiscal">Nota fiscal: </label>
        </div>
        <div class="p-col-9">
          <input type="text" class="ajusteInput" pInputText id="primeiraNotaFiscal">
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-3">
          <label class="ajusteLabel" for="segundaNotaFiscal">Nota fiscal: </label>
        </div>
        <div class="p-col-9">
          <input type="text" class="ajusteInput" pInputText id="segundaNotaFiscal">
        </div>
      </div>

    </div>
    <div class="p-col-4">

      <div class="p-grid">
        <div class="p-col-4">
          <label class="ajusteLabel" for="primeiroMesFatu">Mês faturamento: </label>
        </div>
        <div class="p-col-8">
          <div class="ui-inputgroup">
            <p-calendar [showIcon]="true" [yearNavigator]="true" yearRange="1900:2019" [monthNavigator]="true" 
            class="ajusteInput" [inputStyle]="{'width': 'calc(100% - 2.357em)', 'border-radius': '3px 0px 0px 3px'}" [style]="{'width': '100%'}"
            id="dataAssin" dateFormat="dd/mm/yy" [locale]="br"></p-calendar>
          </div>    
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-4">
          <label class="ajusteLabel" for="segundoMesFatu">Mês faturamento: </label>
        </div>
        <div class="p-col-8">
          <div class="ui-inputgroup">
            <p-calendar [showIcon]="true" [yearNavigator]="true" yearRange="1900:2019" [monthNavigator]="true" 
            class="ajusteInput" [inputStyle]="{'width': 'calc(100% - 2.357em)', 'border-radius': '3px 0px 0px 3px'}" [style]="{'width': '100%'}"
            id="dataAssin" dateFormat="dd/mm/yy" [locale]="br"></p-calendar>
          </div>
        </div>
      </div>

    </div>
  </div>

  <br><br><br>

  <div class="p-grid">
    <div class="p-col-6">

      <div class="p-grid">
        <div class="p-col-3">
          <label class="ajusteLabel" for="recebIncorp">TT RECEBE INCORP: </label>
        </div>
        <div class="p-col-9">
          <input type="text" class="ajusteInput" pInputText id="recebIncorp">
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-3">
          <label class="ajusteLabel" for="prevReceb">RECEBIMENTO PREVISTO: </label>
        </div>
        <div class="p-col-9">
          <input type="text" class="ajusteInput" pInputText id="prevReceb">
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-3">
          <label class="ajusteLabel" for="notaFiscal">NOTA FISCAL: </label>
        </div>
        <div class="p-col-9">
          <input type="text" class="ajusteInput" pInputText id="notaFiscal">
        </div>
      </div>

    </div>
    <div class="p-col-6">

      <div class="p-grid">
        <div class="p-col-3">
          <label class="ajusteLabel" for="recebTeorico">RECEB TEÓRICO BCO: </label>
        </div>
        <div class="p-col-9">
          <input type="text" class="ajusteInput" pInputText id="recebTeorico">
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-3">
          <label class="ajusteLabel" for="mesFaturado">MÊS FATURADO: </label>
        </div>
        <div class="p-col-9">
          <input type="text" class="ajusteInput" pInputText id="mesFaturado">
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-3">
          <label class="ajusteLabel" for="totalReceb">TOTAL RECEBIDO: </label>
        </div>
        <div class="p-col-9">
          <input type="text" class="ajusteInput" pInputText id="totalReceb">
        </div>
      </div>

    </div>
  </div>

  <br><br><br>

  <div class="p-grid">
    <label class="ajusteLabel" for="observacao" [ngStyle]="{'padding-left': '14px'}">Observação:</label>
    <textarea pInputTextarea [rows]="4" id="observacao" [ngStyle]="{'margin': '0px 14px 14px 14px'}" style="width: 100%"></textarea>
  </div>

</p-fieldset>
<p-fieldset >
    <div class="p-grid">
        <div class="p-col-10">
        </div> 
      <div class="p-col-1">
          <button pButton type="button" label="Cancelar" class="ui-button-danger" ></button>
        </div>
        <div class="p-col-1">
            <button pButton type="button" label="Salvar" class="ui-button-success" ></button>
          </div>
    </div>   
  </p-fieldset>
<br><br>